NEXT_PUBLIC_SUPABASE_URL=https://kndvnohhkyadlfpgkpzj.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
ANTHROPIC_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_PRICE_SOLO=
STRIPE_PRICE_PRO=
STRIPE_PRICE_TEAM=
